@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #030712;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.container {
  background-color: #030712;
}

.icon {
  color: #BB86FC;
}

.sideBar {
  border-color: #BB86FC !important;
  height: 100vh;
  position: relative;
  
}

#inputForm {
  width: 80%;
}

#contentContainer {
  height: 90vh;
  width: 80%;
  justify-content: center;
}

#content::-webkit-scrollbar {
  background-color: #030712;
  width: 8px;
}

#content::-webkit-scrollbar-thumb {
  background-color: #BB86FC;
  border-radius: 20px;
}

#title {
  border-bottom: .5px solid #BB86FC;
}

.ps-sidebar-container.css-bavqj4::-webkit-scrollbar-thumb {
  background-color: #BB86FC;
  border-radius: 20px;
  
}

.ps-sidebar-container.css-bavqj4::-webkit-scrollbar {
  background-color: #030712;
  width: 8px;
}

.ps-sidebar-container.css-bavqj4 {
  overflow-y: scroll;
}

.ps-menu-icon.css-wx7wi4 {
  margin-right: 0px;
}

.css-1t8x7v1 >.ps-menu-button {
  justify-content: center;
}