@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #121212;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.icon {
  color: #BB86FC;
}

/* .menuItem {
  background-color: ;
} */

/* .menuItem:hover {
  background-color:  #BB86FC;
} */


.sideBar {
  border-color: #BB86FC !important;
  height: 100vh;
}

#inputForm {
  width: 80%;
}
